.submission
{
	color: white;
	margin: 10px;
	float: left;
}

.lift_submission
{
	color: white;
	position:fixed;
    top:30%;
    left:45%;
    width:50px;
	
}
.dropdown
{
	color: white;
	margin: 10px;
	float: left;
}
.lift_table
{
	height: 100px;
	overflow: auto;
	float: right;
	color: white;
}
