.submission
{
	color: white;
	margin: 10px;
	float: left;
}

.lift_submission
{
	color: white;
	position:fixed;
    top:30%;
    left:45%;
    width:50px;
	
}
.dropdown
{
	color: white;
	margin: 10px;
	float: left;
}
.lift_table
{
	height: 200px;
	overflow: auto;
	float: right;
	color: white;
	width: 200px;
}
.lift_table_content
{
	color: white;
	width: 150px;
}
.delete_lifts
{
	float: right;
}
