.submission
{
	color: white;
	margin: 10px;
	float: left;
}

.lift_submission
{
	color: white;
	position:fixed;
    top:30%;
    left:45%;
    width:50px;
	
}

.cardio_submission
{
	color: white;
	position:fixed;
}

.dropdown
{
	color: white;
	margin: 10px;
	float: left;
}
.lift_table
{
	height: 200px;
	overflow: auto;
	float: right;
	color: white;
	width: 200px;
}
.lift_table_content
{
	color: white;
	width: 150px;
}
.delete_lifts
{
	float: right;
}
.cardio_table
{
	height: 270px;
	overflow: auto;
	float: right;
	color: white;
	width: 100%;
}
.cardio_table_content
{
	color: white;
}
.delete_cardio
{
	float: right;
	width: 60%;
}